<div class="w-full">
  <%= render "common/message", message: notice, color: "green" %>
  <%= render "common/message", message: alert, color: "red" %>

  <% content_for :title, "User Login" %>

  <div class="w-full xl:w-9/12 mx-auto flex">
    <section class="container mx-auto px-4">
      <div class="sm:flex sm:items-center sm:justify-between">
        <div class="flex items-center gap-x-3">
          <%= image_tag asset_path("money.png"), size: "32x32" %>
          <h1 class="text-2xl text-gray-800 font-medium"><%= t("login.title") %></h1>
        </div>
      </div>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="mt-6 grid gap-2 grid-cols-1 grid-rows-3">
          <div class="relative flex items-center">
            <span class="absolute"><span class="w-5 h-5 mx-3 text-gray-400 opacity-50">✉️</span></span>
            <input type="email" name="user[email]" value="" placeholder="<%= t("login.email") %>" autocomplete="email" autofocus="autofocus" class="w-full lg:w-80 pl-11 pr-5 py-1.5 placeholder-gray-400/70 text-gray-700 bg-white border border-gray-200 focus:border-blue-400 focus:ring focus:ring-blue-300 focus:ring-opacity-40 focus:outline-none rounded-lg block" />
          </div>

          <div class="relative flex items-center">
            <span class="absolute"><span class="w-5 h-5 mx-3 text-gray-400 opacity-50">🔒</span></span>
            <input type="password" name="user[password]" placeholder="<%= t("login.password") %>" autocomplete="current-password" class="w-full lg:w-80 pl-11 pr-5 py-1.5 placeholder-gray-400/70 text-gray-700 bg-white border border-gray-200 focus:border-blue-400 focus:ring focus:ring-blue-300 focus:ring-opacity-40 focus:outline-none rounded-lg block" />
          </div>

          <button type="submit" class="w-full lg:w-80 px-5 py-1.5 text-white active:text-gray-100 bg-blue-600 hover:bg-blue-700 active:bg-blue-800 border border-blue-600 hover:border-blue-700 active:border-blue-800 transition-colors duration-200 rounded-lg focus:shadow-outline block">
            <span><%= t("login.submit") %></span>
          </button>
        </div>
      <% end %>
    </section>
  </div>
</div>
