<%= form_with(model: transaction, class: "table-row text-sm text-left font-normal") do |form| %>
  <% if transaction.errors.any? %>
    <% transaction.errors.each do |error| %>
      <%= render "common/message", message: error.full_message, color: :red %>
    <% end %>
  <% end %>

  <div class="table-cell w-2/12 pl-4 py-3.5">
    <%= form.text_field :date %>
  </div>

  <div class="table-cell w-5/12 px-4 py-3.5">
    <%= form.text_field :description %>
  <%= form.submit %>
  <%= link_to "Cancel", wallets_path %>
  </div>

  <div class="table-cell w-2/12 px-4 py-3.5">
    <%= form.text_field :category_id %>
  </div>

  <div class="table-cell w-2/12 px-4 py-3.5">
    <%= form.text_field :amount %>
  </div>

  <div class="table-cell w-1/12 px-4 py-3.5">
    <%= form.text_field :account_id %>
  </div>
<% end %>
