<%= turbo_frame_tag transaction, class: "table-row text-sm text-left font-normal" do %>
  <div class="table-cell w-2/12 pl-4 py-3.5 align-middle">
    <% unless transaction.empty? %>
      <p class="text-gray-700"><%= transaction.date.strftime("%b %e, %Y") %></p>
    <% end %>
  </div>

  <div class="table-cell w-5/12 px-4 py-3.5">
    <p class="text-gray-800 font-medium"><%= transaction.description %></p>
    <p class="text-gray-600"><%= transaction.account.name %></p>
  </div>

  <div class="table-cell w-2/12 px-4 py-3.5 align-middle">
    <% unless transaction.empty? %>
      <%= render "common/badge", message: transaction.category.parent, color: transaction.category.color %>
    <% end %>
  </div>

  <div class="table-cell w-2/12 px-4 py-3.5 align-middle">
    <% unless transaction.empty? %>
      <p class="text-right <%= transaction_amount_classes(transaction) %>"><%= format_transaction_amount(transaction.amount) %></p>
    <% end %>
  </div>

  <div class="table-cell w-1/12 px-4 py-3.5 align-middle">
    <% unless transaction.empty? %>
      <%= link_to t("home.edit"), edit_transaction_path(transaction), class: "ml-auto px-3 py-1 text-xs text-gray-700 active:text-gray-800 bg-white hover:bg-gray-50 active:bg-gray-100 border transition-colors duration-200 rounded-lg block" %>
    <% end %>
  </div>
<% end %>
