<div class="table-row text-sm text-left font-normal">
  <div class="table-cell w-3/12 pl-4 py-3.5 align-middle">
    <% unless transaction.empty? %>
      <p class="text-gray-700"><%= transaction.date.strftime("%b %e, %Y") %></p>
    <% end %>
  </div>

  <div class="table-cell w-6/12 px-4 py-3.5">
    <p class="text-gray-800 font-medium"><%= transaction.description %></p>
    <p class="text-gray-600"><%= transaction.account.name %></p>
  </div>

  <div class="table-cell w-3/12 px-4 py-3.5 align-middle">
    <% unless transaction.empty? %>
      <p class="text-right <%= transaction_amount_classes(transaction) %>"><%= format_transaction_amount(transaction.amount) %></p>
    <% end %>
  </div>
</div>
