<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= page_title(@filter, @search) %></title>

    <%= favicon_link_tag asset_path("money.png") %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-3 sm:mt-6 xl:mt-28 sm:px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
